@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins&family=Roboto:wght@300&display=swap'); 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
    
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image:url("https://media.istockphoto.com/id/1456035845/photo/laptop-stethoscope-and-doctor-writing-in-notebook-for-research-planning-or-medical-tech.webp?b=1&s=170667a&w=0&k=20&c=TqEEvzL5H40n34LyKjN6fo1NyXO6ovl2MfQHGWl5oLk=");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    color: white;
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px black;
    border: 1px solid black;
    backdrop-filter: blur(10px);
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;    
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50;
    padding-bottom: 15px;
}

.user-input-box-label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}


#fullName{
    margin-top: 25px;
    margin-left: -80px;

    width: 200px;
}

#userName{
    margin-top: 25px;
    margin-left: -90px;
    width: 200px;
}
#email{
    margin-top: 25px;
    margin-left: -40px;
    width: 200px;
}
#phoneNumber{
    margin-top: 25px;
    margin-left: -40px;
    width: 200px;
}
.r{
    margin-right: -5px;
}
.t{
    margin-right: -83px;
}
.gender-title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    /* border-bottom: 1px solid white; */
}

.gender-category{
    margin: 15px 0; 
    color: white;  
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 40px;
    
}

.form-submit-btn input{
    display: black;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
    border-radius: 20px;
}

.form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100px;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
} 
.form-group select{
    border-radius: 7px;
}
#quest{
    color:white;
    font-size:x-large;
    font-weight: bold;
    text-decoration: underline;
}
.back-video{
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }

}
@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }

}
.fpass{
    color: #009dff;
}

.date{
    font-size: 24px;
    font-weight: 600;
    /* border-bottom: 1px solid white; */
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    border-radius:20px; 
}
.date input{
    border-radius: 7px;
}